@tailwind base;
@tailwind components;
@tailwind utilities;



.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.list-unstyled{
  font-size: small;
  color: black;
}

.form-control{
  border: 10%;
}

.nav-item{
  list-style-type: none;
}
.REt{
  margin-bottom: 5%;
margin-top: 5%;

}
.Abou{
  margin-bottom: 5%;
  margin-top: 5%;
}
.Best{
  margin-bottom: 5%;
  margin-top: 5%;
}
.Privacy{
  margin-bottom: 5%;
  margin-top: 5%;
}





.CardPer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5%;
  margin-bottom: 5%;
}
.Pay{
  display: grid;
grid-template-columns: 1fr ;
margin-bottom: 5%;
margin-top: 5%;
margin-left: 5%;
margin-right: 5%;}

.shipp{
  margin-bottom: 5%;
margin-top: 5%;
}

.StSlec{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.SingupForm{
  margin-top:5%; 
  margin-bottom: 5%;
  /* margin-left: 40%; */
  margin-right: 40%;
  
 
}

.iconStyle{
  display: flex;
  text-align: center;
font-size: xx-large;
font-weight: bolder;
margin-left: 40%;
}

.CardStyle{
  /* border-radius: 100%;
  padding-top: 20px; */
}
.NameofShoper{
  font-size: xx-large;
  font-weight: bolder;
}
.NameStyle{
  font-size: xx-large;
  font-weight: bolder;

}

.CardDita{
  /* border: 1px solid red; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
}
.Cart0{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
margin-top: 5%;  
margin-bottom: 5%;
}
.OR{
  display: flex;
  text-align: center;
font-size: xx-large;
font-weight: bolder;
margin-left: 47%;
font-size:medium;
font-style: oblique;

}
/* cart page */
.cart_title {
  font-size: 30px;
  font-weight: 500
}

.cart_items {
  margin-top: 8px
}

.cart_list {
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff
}

.cart_item {
  width: 100%;
  padding: 15px;
  padding-right: 46px
}

.cart_item_image {
  width: 133px;
  height: 133px;
  float: left
}

.cart_item_image img {
  max-width: 100%
}

.cart_item_info {
  width: calc(100% - 133px);
  float: left;
  padding-top: 18px
}

.cart_item_name {
  margin-left: 7.53%
}

.cart_item_title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5)
}

.cart_item_text {
  font-size: 18px;
  margin-top: 35px;  
}

.cart_item_text span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 11px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px)
}

.cart_item_price {
  text-align: right
}

.cart_item_total {
  text-align: right
}


.order_total {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  border: solid 1px #2b2929;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-right: 46px;
  padding-left: 15px;
  background-color: #fff
}

.order_total_title {
  display: inline-block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 60px
}

.order_total_amount {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 26px;
  line-height: 60px
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#login-card{
  width:350px;
  border-radius: 25px;
  margin:150px auto;

}

#email{
  border-radius:30px;
  background-color: #ebf0fc;
  border-color: #ebf0fc;
  color: #9da3b0;
}

#button{
  border-radius:30px;

}

#btn{
 position: absolute; 
 bottom: -35px; 
 padding: 5px;
 margin: 0px 55px;
 align-items: center;
 border-radius: 5px
}
#container{
  margin-top:25px;
}

.btn-circle.btn-sm { 
          width: 40px; 
          height: 40px; 
          padding: 2px 0px; 
          border-radius: 25px; 
          font-size: 14px; 
          text-align: center;
          
          margin: 8px;
      }




