@tailwind base;
@tailwind components;
@tailwind utilities;



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.list-unstyled{
  font-size: small;
  color: black;
}

.form-control{
  border: 10%;
}

.nav-item{
  list-style-type: none;
}
.REt{
  margin-bottom: 5%;
margin-top: 5%;

}
.Abou{
  margin-bottom: 5%;
  margin-top: 5%;
}
.Best{
  margin-bottom: 5%;
  margin-top: 5%;
}
.Privacy{
  margin-bottom: 5%;
  margin-top: 5%;
}





.CardPer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5%;
  margin-bottom: 5%;
}
.Pay{
  display: grid;
grid-template-columns: 1fr ;
margin-bottom: 5%;
margin-top: 5%;
margin-left: 5%;
margin-right: 5%;}

.shipp{
  margin-bottom: 5%;
margin-top: 5%;
}

.SingupForm{
  margin-top:5%; 
  margin-bottom: 5%;
  /* margin-left: 40%; */
  margin-right: 40%;
  
 
}

.iconStyle{
  display: flex;
  text-align: center;
font-size: xx-large;
font-weight: bolder;
margin-left: 40%;
}

.CardStyle{
  /* border-radius: 100%;
  padding-top: 20px; */
}
.NameofShoper{
  font-size: xx-large;
  font-weight: bolder;
}
.NameStyle{
  font-size: xx-large;
  font-weight: bolder;

}

.CardDita{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin: 0;
}
.OR{
  display: flex;
  text-align: center;
font-size: xx-large;
font-weight: bolder;
margin-left: 43%;
font-size:medium;
font-style: oblique;

}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#login-card{
  width:350px;
  border-radius: 25px;
  margin:150px auto;

}

#email{
  border-radius:30px;
  background-color: #ebf0fc;
  border-color: #ebf0fc;
  color: #9da3b0;
}

#button{
  border-radius:30px;

}

#btn{
 position: absolute; 
 bottom: -35px; 
 padding: 5px;
 margin: 0px 55px;
 align-items: center;
 border-radius: 5px
}
#container{
  margin-top:25px;
}

.btn-circle.btn-sm { 
          width: 40px; 
          height: 40px; 
          padding: 2px 0px; 
          border-radius: 25px; 
          font-size: 14px; 
          text-align: center;
          
          margin: 8px;
      }




